.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
.env
.env.test
docs_build
site_build
.venv
docs.zip
archive.zip

# vim temporary files
*~
.*.sw?
.cache

# macOS
.DS_Store

main-for-aws.py
main_copy.py

oci-functions

/node
/node_modules
keys_original.py
main_original.py
requirements_original.txt
Dockerfile_original
Dockerfile_node

/routes_node
/config_node
server_node.js
package_node.json
package-lock_node.json